@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @Html.ActionLink("Blob list", "Index", "StorageBlob")
        @Html.ActionLink("Table list", "Index", "StorageTable")
    </div>
